body {
	background: linear-gradient(120deg, #FF00C7 0%, #51003F 100%), linear-gradient(120deg, #0030AD 0%, #00071A 100%), linear-gradient(180deg, #000346 0%, #FF0000 100%), linear-gradient(60deg, #0029FF 0%, #AA0014 100%), radial-gradient(100% 165% at 100% 100%, #FF00A8 0%, #00FF47 100%), radial-gradient(100% 150% at 0% 0%, #FFF500 0%, #51D500 100%);
	background-blend-mode: overlay, color-dodge, overlay, overlay, difference, normal;
	padding: 1vw;
}

#area1,
#area2,
header,
footer {
	font-size: 5vw;
	color: white;
}

#area2 {
	text-align: center;
	clear: both;
}

#area2 input,
#area1 input[type='number'] {
	width: 7vw;
	font-size: 5vw;
}


input[type='radio'] {
	width: 4vw;
	height: 4vw;
	appearance: none;
	position: relative;
}

input[type='radio']:before {
	content: '';
	width: 4vw;
	height: 4vw;
	border: 0.5vmin solid #010dff;
	display: inline-block;
	border-radius: 50%;
	vertical-align: middle;
}

input[type='radio']:checked:before {
	content: '';
	width: 4vw;
	height: 4vw;
	border: 0.5vmin solid #010dff;
	background: #34ff11;
	display: inline-block;
	border-radius: 50%;
	vertical-align: middle;
}

input[type='radio']:checked+label {
	color: #34ff11;
}

#area3 {
	border-radius: 3vw;
	grid-column: 1/4;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 2vw 2vw;
	padding: 2vw;
	margin-top: 2vh;
}

#area3 button,
#area4 button {
	border-radius: 2.5vmax;
	font-size: 6vw;
	min-height: 10vh;
}

#area4 button {
	display: inline-block;
	width: 40%;

}

#area4 {
	position: fixed;
	left: 0;
	bottom: 0;

	backdrop-filter: blur(5px);
	text-align: center;
	padding: 3.5vw;
	box-sizing: border-box;

	width: 100%;
	box-shadow: 0 -8px 10px black;
}

.W {
	background-color: white;
	color: black;
}

.B {
	background-color: black;
	color: white;
}
